<div class="modal">
  <div class="modal-content">

    <div class="promos">
      <mat-card>
        <mat-card-header>
          <h3 style="color: black;">Promociones: </h3>
        </mat-card-header>
        <mat-card-content>
          <a class="btn-modo" href="https://www.modo.com.ar/promos?search_text=combustible" target="_blank">
          Ver en: <img src="assets/img/modo.webp"  height="20px">
        </a>

          <a class="btn-modo" href="https://www.santander.com.ar/banco/online/compras/ypf-superclub-mas/!ut/p/z1/jZDLDoIwEEW_xQVLmAZf6I6wMQJBI0TsxhRTCkmhTSkS_XobXZn4YHYzOffemQEMOeCWXGtGdC1awk1_wotzsnKDjeuhJNllS7QPZ5tVnKSH0FvA8QmgL-UjwGP0PwD82377L8Bc4Ko4iBlgSXRl120pIL_J0u56SdWF94XdkM4sgkdkMS6K11v8tph6xlTRkiqqnF6ZcaW17NYWstAwDA4TgnHqXERjoU-SSnQa8ncSZJPl96hM5_wa-f5k8gBLV88Y/#?buscar=combustible" target="_blank">
          Ver en: <img src="assets/img/santander.png"  height="20px">
        </a>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="location">
      <button mat-raised-button color="primary" (click)="getLocalAddress()" *ngIf="!error">Detectar ubicación</button>
    </div>
    <hr />
    <div class="navbar">
      <span>Ubicación personalizada:</span>
      <div class="navbar__location">
        <div class="searchbar">
          <input
            type="text"
            class="searchbar-input"
            maxlength="2048"
            autocomplete="off"
            [(ngModel)]="address"
            (keydown.enter)="getAddress()"
            placeholder="Calle 1234, Barrio..."
          />
          <button
            style="color: black !important"
            [disabled]="!address"
            mat-raised-button
            color="accent"
            class="searchbar-button"
            (click)="getAddress()"
          >
            Buscar
          </button>
        </div>

        <div class="address">
          <div *ngIf="addressText">
            <span>Ubicación actual:</span>
            <div class="address-text" [title]="addressText">{{ addressText | slice : 0 : 55 }}...</div>

            <div class="container-results">

              <div class="tipo-combustibles">
                <div *ngFor="let combustible of tipoCombustible">
                  <button mat-raised-button [color]="tipoSeleccionado.id === combustible.id ? 'primary' : ''" (click)="seleccionarCombustible(combustible)">
                   {{ combustible.name }}
                  </button>
                </div>
              </div>

<!--               <div class="listado-banderas">
                <div *ngFor="let bandera of banderas">
                  radio
                  <input
                    type="checkbox"
                    [value]="bandera"
                    [checked]="banderasSeleccionadas.includes(bandera)"
                    (change)="toggle(bandera)"
                    [(ngModel)]="banderaSeleccionada"
                  />
              </div> -->

              <div style="margin: auto; margin-top: 15px; margin-bottom: 5px;">
                <button color="primary" (click)="search()" mat-flat-button>Buscar precio</button>
              </div>

              <section class="results" *ngIf="results">
                <div *ngFor="let result of results.resultado">
                  <app-result-card class="center" [result]="result"></app-result-card>
                </div>
              </section>
            </div>
          </div>

          <div *ngIf="!addressText">
            <span class="loader_container" *ngIf="!error">
              <div class="loader"></div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
