<div class="modal">
  <div class="modal-content">
    <div class="location">
      <button mat-raised-button color="primary" (click)="getLocalAddress()" *ngIf="!error">Detectar ubicación</button>
    </div>
    <hr />
    <div class="navbar">
      <span>Ubicación personalizada:</span>
      <div class="navbar__location">
        <div class="searchbar">
          <input
            type="text"
            class="searchbar-input"
            maxlength="2048"
            autocomplete="off"
            [(ngModel)]="address"
            (keydown.enter)="getAddress()"
            placeholder="Calle 1234, Barrio..."
          />
          <button
            style="color: black !important"
            [disabled]="!address"
            mat-raised-button
            color="accent"
            class="searchbar-button"
            (click)="getAddress()"
          >
            Buscar
          </button>
        </div>

        <div class="address">
          <div *ngIf="addressText">
            <span>Ubicación actual:</span>
            <div class="address-text" [title]="addressText">{{ addressText | slice:0:55 }}...</div>

            <div class="container-results">
              <div style="margin: auto;">
                <button (click)="search()" mat-raised-button>Buscar precio</button>
              </div>

              <section class="results" *ngIf="combustibles">
                <div *ngFor="let result of combustibles.resultado">
                  <app-result-card class="center" [result]="result"></app-result-card>
                </div>
              </section>
            </div>
          </div>

          <div *ngIf="!addressText">
            <span class="loader_container" *ngIf="!error">
              <div class="loader"></div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
